*

!.gitignore
!kitty
!kitty/**
!Kvantum
!Kvantum/**
!evolution
!evolution/**
!fastfetch
!fastfetch/**
!dunst
!dunst/**
!waybar
!waybar/**
!hypr
!hypr/**
!qt6ct
!qt6ct/**
!geary
!geary/**
!cava
!cava/**
!wofi
!wofi/**
!nemo
!nemo/**
!nwg-look
!nwg-look/**
hypr/monitors.conf
hypr/workspaces.conf

!rpcs3/**/savedata
