*

!.gitignore
!kitty
!kitty/**
!Kvantum
!Kvantum/**
!evolution
!evolution/**
!fastfetch
!fastfetch/**
!dunst
!dunst/**
!waybar
!waybar/**
!hypr
!hypr/**
!qt6ct
!qt6ct/**
!geary
!geary/**
!cava
!cava/**
!wofi
!wofi/**
!nemo
!nemo/**
!nwg-look
!nwg-look/**
hypr/monitors.conf
hypr/workspaces.conf
rpcs3/uuid
rpcs3/usio.yml
rpcs3/update_history.log
rpcs3/rpcn.yml
rpcs3/recording.yml
rpcs3/players_history.yml
rpcs3/patch_config.yml
rpcs3/LogitechG27.yml
rpcs3/gem_real.yml
rpcs3/gem_mouse.yml
rpcs3/gem.yml
rpcs3/games.yml
rpcs3/config.yml
rpcs3/uuid
rpcs3/usio.yml
rpcs3/update_history.log
rpcs3/rpcn.yml
rpcs3/recording.yml
rpcs3/players_history.yml
rpcs3/patch_config.yml
rpcs3/LogitechG27.yml
rpcs3/gem_real.yml
rpcs3/gem_mouse.yml
rpcs3/gem.yml
rpcs3/games.yml
rpcs3/config.yml
