*

!.gitignore
!kitty
!kitty/**
!Kvantum
!Kvantum/**
!evolution
!evolution/**
!fastfetch
!fastfetch/**
!dunst
!dunst/**
!waybar
!waybar/**
!hypr
!hypr/**
!qt6ct
!qt6ct/**
!geary
!geary/**
!cava
!cava/**
!wofi
!wofi/**
!quickshell
!quickshell/**
!nemo
!nemo/**
!nwg-look
!nwg-look/**
!eww
!eww/**
!bashrc
!bashrc/**
!rpcs3
!rpcs3/**
rpcs3/dev_flash/**
rpcs3/dev_hdd0/game/**
rpcs3/dev_hdd1/**
rpcs3/Icons/**
rpcs3/GuiConfigs/**
rpcs3/input-configs/**
rpcs3/games/**
rpcs3/**/*.yml
rpcs3/uuid
rpcs3/**.log
!rpcs3/config.yml
!rpcs3/custom_configs/*.yml
!rpcs3/patches/*.yml

hypr/monitors.conf
hypr/workspaces.conf
